body{

    background-color: black;
    color: white;
}

.container{
    border: 2px solid black;
    width: 80%;
    margin: auto;
    background-color: gray;
    border-radius: 20px;

}

.heading{
    text-align: center;
    font-size: 90px;
}

#img-div{
    text-align: center;
    border-radius: 40px;
}

#img{
    width: 400px;
}

#info{
    width: 80%;
    margin: auto;
    text-align:justify;
}